@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #333333;
  background-color: rgb(223, 221, 221);
  display: inline;
  padding-top: 100px;
}
body header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  width: 99%;
  position: sticky;
  z-index: 1000;
  background-color: rgba(151, 151, 148, 0.692);
  border-radius: 25px;
  margin: 5px;
}
body header .logo img {
  width: 100px;
  height: 100px;
  position: sticky;
  display: inline;
}
body header nav ul {
  float: initial;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  top: 35px;
  font-weight: bold;
  padding-top: 35px;
  align-items: center;
}
body header nav ul li a {
  margin: 10px;
  text-decoration: none;
  color: black;
  font-size: 20px;
  transition: font-size 0.3s;
}
body header nav ul li a:hover {
  font-size: 140%;
}
body header #nav-right {
  float: right;
  flex-direction: row-reverse;
  padding-right: 30px;
}
body header #nav-right form {
  display: inline;
  position: relative;
  top: 35px;
  padding-right: 15px;
}
body header #nav-right form input {
  border-radius: 10px;
}
body header #nav-right form button {
  border-radius: 20px;
}
body header #nav-right form button img {
  width: 25px;
  height: 20px;
}
body header #nav-right a img {
  width: 25px;
  height: 25px;
  display: inline;
  position: relative;
  top: 35px;
}

footer {
  display: block;
  background-color: dimgrey;
  padding-top: 25px;
  bottom: 0;
  width: 100%;
}
footer .info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .info .MoreInfo ul {
  list-style: none;
}
footer .info .MoreInfo ul a {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  padding-top: 100px;
}
footer .info .sociales {
  margin-right: 20px;
}
footer .info .sociales a {
  display: block;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  padding: 2px;
}
footer .info .sociales img {
  width: 20px;
}
footer .texto {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: unset;
  position: sticky;
}
footer .texto img {
  width: 15px;
  padding: 2px;
}

.index .Titulo {
  padding-top: 50px;
}
.index .Titulo h1 {
  display: inline;
  font-size: 3.8rem;
  text-align: left;
  margin-left: 20px;
}
.index .Titulo h1:hover {
  font-weight: bold;
}
.index .Titulo h2 {
  font-size: 2.8rem;
  color: #523a34;
  text-align: center;
  position: 16rem;
  margin-left: 16rem;
}
.index .Titulo h2 span {
  font-size: 4rem;
  color: #a3081d;
  font-weight: bold;
}
.index #carouselExampleInterval .carousel-inner {
  display: inline-block;
}
.index #carouselExampleInterval .carousel-inner img {
  justify-content: center;
  width: 600px;
  height: 400px;
  margin-top: 10px;
}
.index .Center {
  display: flex;
}
.index .Center .Banner img {
  display: inline-block;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}
.index .Center .ofertas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 20px;
  padding: 25px 50px;
}
.index .Center .ofertas img {
  width: 200px;
  height: auto;
  margin: 10px;
  display: block;
  transition: transform 0.2s;
}
.index .Center .ofertas img:hover {
  box-shadow: 0px 0px 58px 10px rgba(17, 30, 77, 0.7);
  -webkit-box-shadow: 0px 0px 58px 10px rgba(17, 30, 77, 0.7);
  -moz-box-shadow: 0px 0px 58px 10px rgba(17, 30, 77, 0.7);
  transform: scale(1.05);
}

.Product {
  font-size: larger;
}
.Product .disponiblidad {
  margin-top: 20px;
  margin: 5px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.Product .disponiblidad aside {
  display: block;
  position: static;
  /* display: grid;
  grid-template-columns: 1fr;
  align-items: flex-start;
  position: static; */
  background-color: rgb(199, 197, 197);
  padding-top: 50px;
  border-radius: 20px;
  margin-right: 10px;
  margin-left: 5px;
}
.Product .disponiblidad aside button {
  background-color: rgb(180, 180, 180);
  color: black;
  margin: 10px;
  padding: 5px;
  justify-content: center;
  width: 90%;
  height: auto;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}
.Product .disponiblidad aside button:active {
  background-color: #bdc4ca;
  color: rgb(100, 70, 70);
}
@media (max-width: 900px) {
  .Product .disponiblidad aside {
    grid-column-start: 1;
    grid-column-end: -1;
    display: flex;
    padding-top: 5px;
    margin-bottom: 15px;
    /* Opcional: alinea los elementos horizontalmente */
  }
}
.Product .disponiblidad .ropa {
  display: grid;
  grid-column: span 4;
  grid-template-columns: repeat(4, 1 fr);
  border-radius: 20px;
  margin-right: 5px;
  padding: 50px;
  background-color: rgb(199, 197, 197);
}
.Product .disponiblidad .ropa .mercaderia {
  display: flex;
  flex-wrap: wrap;
}
.Product .disponiblidad .ropa .mercaderia img {
  display: flex;
  flex-direction: row;
  width: 200px;
  height: auto;
  margin: 10px;
  transition: transform 0.2s;
}
.Product .disponiblidad .ropa .mercaderia img:hover {
  box-shadow: 0px 0px 58px 10px rgba(17, 30, 77, 0.7);
  -webkit-box-shadow: 0px 0px 58px 10px rgba(17, 30, 77, 0.7);
  -moz-box-shadow: 0px 0px 58px 10px rgba(17, 30, 77, 0.7);
  transform: scale(1.05);
}

@media screen and (max-width: 900px) {
  aside {
    flex-direction: row; /* Cambiar la dirección del flexbox a horizontal */
  }
}
.contact .heading {
  font-size: 4rem;
  color: black;
  display: block;
  text-align: center;
  justify-items: center;
  padding-top: 15px;
  padding-bottom: 10px;
}
.contact .data {
  display: flex;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.contact .data .content {
  padding-left: 10%;
  grid-template-columns: 1fr;
}
@media (max-width: 602px) {
  .contact .data .content {
    grid-template-columns: 2fr;
  }
}
.contact .data .content iframe {
  display: block;
  height: 400px;
  width: 400px;
}
.contact .data .content .info {
  padding-top: 30px;
}
.contact .data .content .info h3 {
  display: block;
  align-items: center;
  font-size: 1.1rem;
  color: black;
  font-size: 20px;
  padding: 5px;
}
.contact .data .content .info h3 img {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}
.contact .data .Action {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
  margin-right: 10%;
}
.contact .data .Action .box {
  width: 100%;
  padding: 10px;
  margin: 10px;
  background: rgba(51, 51, 51, 0.2);
  color: #fff;
  text-transform: none;
  font-size: 15px;
  border-radius: 15px;
}
.contact .data .Action .box .messager {
  height: 15rem;
  resize: none;
}
.contact .data .Action .btn {
  display: inline;
  width: fit-content;
  align-items: center;
  background-color: rgb(151, 151, 148);
}
.contact .data .Action .btn:hover {
  background-color: rgb(68, 68, 68);
  color: #fff;
  transition: 0.5s;
}

/*# sourceMappingURL=style.css.map */
