* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #333333;
  background-color: rgb(223, 221, 221);
  display: inline;
  padding-top: 100px;
}
body header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  left: 50;
  width: 100%;
  position: fixed;
  z-index: 1000;
  background-color: rgba(151, 151, 148, 0.692);
  border-radius: 25px;
}
body header header a {
  display: inline;
  text-align: center;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  padding-top: 100px;
}
body header .logo img {
  width: 100px;
  height: 100px;
  position: sticky;
  display: inline;
}
body header nav ul {
  float: initial;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  position: relative;
  top: 35px;
  font-weight: bold;
  padding: 0;
}
body header nav ul li a {
  margin: 10px;
  text-decoration: none;
  color: black;
  font-size: 20px;
  transition: font-size 0.3s;
}
body header nav ul li a:hover {
  font-size: 140%;
}
body header #nav-right {
  float: right;
  flex-direction: row-reverse;
  padding-right: 30px;
}
body header #nav-right form {
  display: inline;
  position: relative;
  top: 35px;
  padding-right: 15px;
}
body header #nav-right form input {
  border-radius: 10px;
}
body header #nav-right form button {
  border-radius: 20px;
}
body header #nav-right form button img {
  width: 25px;
  height: 20px;
}
body header #nav-right a img {
  width: 25px;
  height: 25px;
  display: inline;
  position: relative;
  top: 35px;
}

main {
  margin-top: 100px;
}

footer {
  background-color: dimgrey;
  padding-top: 25px;
}
footer .info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .info .MoreInfo ul {
  list-style: none;
}
footer .info .MoreInfo ul a {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  padding-top: 100px;
}
footer .info .sociales {
  margin-right: 20px;
}
footer .info .sociales a {
  display: block;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  padding: 2px;
}
footer .info .sociales img {
  width: 20px;
}
footer .texto {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: unset;
  position: sticky;
}
footer .texto img {
  width: 15px;
  padding: 2px;
}

.index .Titulo {
  padding-top: 50px;
}
.index .Titulo h1 {
  display: inline;
  font-size: 3.8rem;
  text-align: left;
  margin-left: 20px;
}
.index .Titulo h1:hover {
  font-weight: bold;
}
.index .Titulo h2 {
  font-size: 2.8rem;
  color: #523a34;
  text-align: center;
  position: 16rem;
  margin-left: 16rem;
}
.index .Titulo h2 span {
  font-size: 4rem;
  color: #a3081d;
  font-weight: bold;
}
.index #carouselExampleInterval .carousel-inner {
  display: inline-block;
}
.index #carouselExampleInterval .carousel-inner img {
  justify-content: center;
  width: 600px;
  height: 400px;
  margin-top: 10px;
}
.index .Center {
  display: flex;
}
.index .Center .Banner img {
  display: inline-block;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}
.index .Center .ofertas {
  align-items: flex-start;
  margin: 10px;
  padding: 10px;
}
.index .Center .ofertas img {
  width: 200px;
  padding: 20px;
  display: inline-block;
}

.contact .heading {
  font-size: 4rem;
  color: black;
  display: block;
}
.contact .data {
  display: flex;
  justify-content: space-between;
}
.contact .data .content {
  width: 50%;
  flex-wrap: wrap;
  padding-left: 15px;
}
.contact .data .content iframe {
  display: flex;
  height: 400px;
  width: 400px;
}
.contact .data .content .info h3 {
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: black;
  padding: 1rem 0;
  font-size: 20px;
}
.contact .data .content .info h3 img {
  width: 20px;
  height: 20px;
}
.contact .data form {
  width: 50%;
  display: grid;
  align-items: center;
  width: 40%;
  padding-right: 25px;
}
.contact .data form .box {
  padding: 10px;
  margin: 0;
  background: rgba(51, 51, 51, 0.2);
  color: #fff;
  text-transform: none;
  font-size: 15px;
  border-radius: 15px;
}
.contact .data form .box we .messager {
  height: 15rem;
  resize: none;
}
.contact .data form button {
  display: inline;
  width: fit-content;
  align-items: center;
  background-color: rgba(51, 51, 51, 0.2);
}

/*# sourceMappingURL=style.css.map */
