*{
    padding: 0;
    margin: 0;
}

body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #333333;
    background-color: rgb(255, 240, 201);
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
}

header .logo img{
    width: 100px;
    height: 100px;
    position: sticky;
    display: inline;
}

nav ul{
    display: flex;
    list-style-type: none;
    position: relative;
    top: 35px;
    font-weight: bold;
}
header a{
    display: inline;
    margin: 10px;
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding-top: 100px;
}

header #nav-right form{
    display: inline;
    position: relative;
    top: 35px;
}

header #nav-right form img{
    width: 20px;
    height: 20px;
}

header #nav-right a img{
    width: 20px;
    height: 20px;
    display: inline;
    position: relative;
    top: 35px;
}



h1 {
    font-size: 3.8rem;
    text-align: left;
    margin-left: 20px;
}
:hover h1{
    font-weight: bold;
}

h2 {
    font-size: 2.8rem;
    color: #523a34;
    text-align: center;
    position: 16rem;
    margin-left: 16rem;
}
h2 span{
    font-size: 4rem;
    color: #a3081d;
    font-weight: bold;
}

.slides{
    display: inline-block;
    position:sticky;
}

main .carousel-inner{
    display: inline-block;
}

main .Center {
    display: flex;
}

main .Center .Banner img {
    display: inline-block;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

main .Center .ofertas{
    margin: 10px;
    padding: 10px;
}
main .Center .ofertas img{
    width: 200px;
    padding: 20px;
    display: inline-block;
}


footer{
    background-color: dimgrey;
}
footer .info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .info .sociales a{
    display: block;
}

footer .info .sociales img{
    width: 20px;
}
footer .texto {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    flex-direction: unset;
    position: sticky;
}

footer .texto img{
    width: 15px;
    padding: 2px;
}
