.contact{
    

    .heading {
        font-size: 4rem;
        color: black;
        display: block;
    }
    
    .data{
        padding-top: 25px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .content {
            display: block;
            justify-content: center;
            flex-wrap: wrap;
        
                iframe{
                    display: flex;
                    height: 400px;
                    width: 400px;
                }
                .info{
                    h3{
                    display: flex;
                    align-items: center;
                    font-size: 2rem;
                    color: black;
                    padding: 1rem 0;
                    font-weight: normal;
                    img{
                        width: 20px;
                        height: 20px;
                        }
                    }
                
                }
                    
            font{
                display: block;
                .box{
                    padding: 1.5rem;
                    margin: 1rem 0;
                    background: #3333;
                    color: #fff;
                    text-transform: none;
                    font-size: 1.7rem;
                    width: 100%;
                }
            }
            .messager{
                height: 15rem;
                resize: none;
            }
              
              
        }
          
    }
      
}